/* Header */

.navbar {
    background-color: #070F2B !important;
}

.navbar .container,
.navbar .container-fluid {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 2rem;
    margin-left: 1.5em;
}

.navbar-brand span {
    display: inline-flex;
    align-items: center;
}

.navbar-brand span::before,
.navbar-brand span::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 50%;
    height: 2px;
    background-color: #535C91;
    transition: transform 0.3s ease;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center center;
    z-index: 10;
}

.navbar-brand span::before {
    top: 0;
}

.navbar-brand span::after {
    bottom: 0;
}

.navbar-brand:hover span::before,
.navbar-brand:hover span::after {
    transform: translateX(-50%) scaleX(1);
}

.rotated-icon {
    transform: rotate(45deg);
}

.navbar-brand .fa-wifi {
    font-size: 1.75rem;
    padding-left: 0.5rem;
}

.navbar .navbar-nav .nav-link {
    padding-right: 1.5em;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-right: 1.5em;
}

.nav-link {
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link:before,
.nav-link:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #535C91;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    display: block;
    margin: 5px 0;
}

.nav-link:hover:before,
.nav-link:hover:after {
    transform: scaleX(1);
}

@keyframes shake {

    0%, 100% {
        transform: rotate(45deg) translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: rotate(40deg) translateX(-0.5px);
    }

    20%, 40%, 60%, 80% {
        transform: rotate(50deg) translateX(0.5px);
    }
}

.navbar-brand:hover .rotated-icon {
    animation: shake 1.2s ease-in-out both;
    transform: rotate(45deg);
}

/* Main Reset and Body Styles */

body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Search Bar  */

.search-box {
    position: relative;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #070F2B;
    height: 50px;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 50px);
    box-shadow: 0 0 8px #070F2B(0, 0, 0, 0.2);
}
#searchBtn {
    color: #fff !important;
    background: #070F2B !important;
}
.search-box .search-btn {
    color: #fff !important;
    background: #070F2B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    transition: 0.1s;
    margin-left: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.search-box .search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 30px;
    flex-grow: 1;
    margin-right: 10px; 
}

.search-box:hover .search-txt {
    width: 100%;
}

/* Placeholder color */
::placeholder {
    color: rgb(180, 180, 180);
}

/* Table Styles */

.table {
    width: 100%;
}

.table thead.thead-dark th {
    background-color: #070F2B !important;
    color: #fff !important;
    border: 1px solid #fff;
    text-align: center;
}

.table td {
    color: #070F2B;
}

.table td .btn {
    vertical-align: middle;
    margin: 0 2px;
}

/* Scrollbar */

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Buttons */

.btn-outline-secondary {
    color: #fff;
    border-color: #fff;
}

#add-button {
    background-color: #070F2B !important;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 30px;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.search-box .search-btn,
.search-box .search-txt,
#add-button {
    background-color: #070F2B;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s;
    /* outline: none;
    border-radius: 25px; */
}

.search-box .search-btn:focus,
.search-box .search-txt:focus,
#add-button:focus {
    box-shadow: 0 0 0 2px #535C91;
}

#add-button:hover {
    background-color: #9290C3;
    color: #ddd;
}

.btn-info {
    background-color: #535C91;
    border-color: #535C91;
}

.btn-info:hover {
    background-color: #9290C3;
    border-color: #535C91;
}

.btn-danger:hover {
    background-color: #f8d7da;
    border-color: #dc3545;
}

/* Form Input Styles */

form input {
    width: 100%;
    max-width: 800px;
    padding: 1em;
    font-size: 0.9em;
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #ffffffe7;
}

form input:focus {
    box-shadow: 0 0 0 2px #535C91;
}

.table_header,
.input-group,
#add-form,
#edit-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-responsive {
    max-width: 80%;
    margin: auto;
}

#add-container {
    display: block;
}

/* Overlay styles */

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

/* Contact Popup */

.contact-popup-content {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border: 2px solid #070F2B;
    padding: 0;
    width: 30%;
    max-width: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
}

.contact-popup-header {
    background-color: #070F2B;
    color: white;
    text-align: center;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    padding: 1rem 0;
}

.contact-popup-header h5 {
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
}

.contact-popup-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form {
    width: 70%;
}

#contact-form .form-control {
    padding: 1.5rem;
    font-size: 1.2rem;
}

.contact-popup-body .form-group {
    width: 100%;
    margin-bottom: 1rem;
}

.contact-popup-body .form-group:first-child {
    padding-top: 2.5rem;
}

.contact-popup-body .form-group:last-child {
    padding-bottom: 0;
}

.contact-popup-body .form-group-lg input {
    padding: 1rem;
    font-size: 0.9em;
    border-radius: 1rem;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}

.form-control,
.form-group-lg .form-control {
    width: 100% !important;
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-size: 0.9em;
    border-radius: 1rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contact-popup-body .form-group input.form-control {
    width: 100%;
    padding: 1rem;
    font-size: 0.9em;
    border-radius: 1rem;
    box-sizing: border-box;
}

.contact-popup-body .form-group-lg {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;

}
.contact-popup-body .form-group-lg .form-control {
    padding: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 0.9em;
    border-radius: 1rem;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-sizing: border-box;
}

.contact-popup-footer {
    padding-top: none !important; 
    margin-top: none !important;
    padding: 1rem;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-popup-footer button {
    width: 90%;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #070F2B;
    color: white;
    margin-bottom: 2rem;
}

.contact-popup-footer button:hover {
    background-color: #535C91;
}

.close-contact-popup {
    position: absolute;
    right: 0.9rem;
    top: 0;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
}

#contact-info-button,
button[type="button"].btn-secondary {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
}


/* Validation */

.form-control.is-valid::after,
.form-control.is-invalid::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Font Awesome 5 Free';
    display: block;
}

.form-control.is-valid::after {
    content: '\f00c';
    color: #28a745;
}

.form-control.is-invalid::after {
    content: '\f00d';
    color: #dc3545;
}

.valid-icon,
.invalid-icon {
    display: none;
}

.form-control.is-valid~.input-group-append .valid-icon {
    display: block;
    color: #28a745;
}

.form-control.is-invalid~.input-group-append .invalid-icon {
    display: block;
    color: #dc3545;
}

.form-control.is-valid {
    background-color: #d4edda;
    border-color: #28a745;
}

.form-control.is-invalid {
    background-color: #f8d7da;
    border-color: #dc3545;
}

/* Responsiveness */

@media (max-width: 768px) {
    .search-box {
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
        top: 20px;
    }

    .navbar-brand h1 {
        font-size: 2rem;
    }

    .contact-popup-content {
        width: 0%;
        margin: auto;
    }
}