/* Header */

.navbar {
    background-color: #003B46 !important;
}

.navbar .container,
.navbar .container-fluid {
    width: 100%;
}

.rotated-icon {
    transform: rotate(45deg) !important;
}

.navbar-brand {
    font-size: 2.5rem !important;
    padding-left: 50px;
}

.navbar-brand .fa-wifi {
    padding-top: 6px;
    font-size: 3rem;
}

.nav-link {
    color: #fff !important;
}

.navbar .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 1.2rem;
}

.navbar .navbar-nav .nav-item:first-child .nav-link {
    margin-right: 1em;
}

/* Auth Toggle Buttons */
/* Active button styling */
body{
    background-color: #C0DEE5;
}
.btn-primary.active,
.btn-secondary.active {
    background-color: #0056b3;
    /* Dark blue */
    border-color: #0056b3;
}

/* Button hover and focus states for active buttons */
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-secondary.active:hover,
.btn-secondary.active:focus {
    background-color: #07575B;
    /* Slightly darker blue on hover/focus */
    border-color: #07575B;
}

/* Toggle Links */
.toggle-link.active,
.btn-primary.active,
.btn-secondary.active {
    color: #fff;
    background-color: #07575B;
    /* Dark blue color */
    border-radius: 5px;
}

.auth-toggle {
    text-align: center;
    margin-bottom: 20px;
}

.toggle-link {
    color: #07575B;
    cursor: pointer;
    padding: 10px;
    font-weight: 500;
}

/* Login & Signup Box */

.card {
    padding: 0px;
    border: 2px solid #003B46 !important;
    border-radius: 4px;
    box-shadow: 0 0 8px #003B46(0, 0, 0, 0.2);
    margin-bottom: 20px;
    background: whitesmoke !important;
    padding: 60px 50px;
    width: 100%;
    height: auto;


}
.card-body {
    padding: 0px;
}


.card .card-body h2 {
    font-size: 2rem;
}

.card .form-group-lg .form-control {
    padding: 15px;
    margin-bottom: 20px;
}

.card .form-control {
    width: calc(100% - 20px);
    /* Adjust the width as needed */
}

/* Form Control */

.form-control {
    position: relative; 
    width: 100%;
    height: auto;
    font-size: 0.9em;
    border: 1px solid #C0DEE5;
    border-radius: 4px;
    background-color: #ffffff;
    background-clip: padding-box; /* Prevents background color from extending to the border area, it could also be 'border-box' depending on your needs */
    padding-right: 2.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    line-height: normal;
}

/* Style the pseudo-elements for valid and invalid icons */
.form-control.is-valid::after,
.form-control.is-invalid::after {
    content: '';
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Font Awesome 5 Free'; /* Font Awesome must be loaded */
    display: block;
}

.form-control.is-valid::after {
    content: '\f00c'; /* Font Awesome check icon */
    color: #28a745; /* Bootstrap success color */
}

.form-control.is-invalid::after {
    content: '\f00d'; /* Font Awesome times icon */
    color: #dc3545; /* Bootstrap danger color */
}

.form-control:focus {
    border-color: #80bdff;
    outline: none;
    box-shadow: none;
    /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25); */
}

/* Input group text/icon container */

.input-group-text {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 3;
}

/* Validation Icons */

.valid-icon,
.invalid-icon {
    display: none;
}

.form-control.is-valid~.input-group-append .valid-icon {
    display: block;
    color: #28a745; /* Green check color */
}

.form-control.is-invalid~.input-group-append .invalid-icon {
    display: block;
    color: #dc3545; /* Red cross color */
}

.form-control.is-valid {
    background-color: #d4edda;
    border-color: #28a745;
}

.form-control.is-invalid {
    background-color: #f8d7da;
    border-color: #dc3545;
}

/* Button Styles */

.card button.btn-block {
    width: 100%;
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);
    padding: 10px;
    margin-top: 25px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #07575B;
    /* Match the navbar color */
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
}

/* Active button styling */
.btn-primary.active,
.btn-secondary.active {
    background-color: #0056b3 !important;
    color: white;
}

/* Non-active state should use the secondary color */
.btn-secondary:not(.active) {
    background-color: #6c757d !important; /* Bootstrap secondary color */
    color: #fff !important;
}

/* Styles for hover state */
.btn-primary:hover,
.btn-secondary:hover {
    background-color: #C0DEE5 !important;
    color: #07575B !important;
    /* Slightly darker blue on hover */
}

/* Styles for the active state after being clicked */
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #07575B !important;
    /* Dark blue */
    border-color: #07575B !important;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: #1d2a38 !important;
    /* Dark grey */
    border-color: #545b62 !important;
}

/* Correcting previous input alignment */
input[type=email],
input[type=password],
input[type=text] {
    text-align: left;
}

/* Responsiveness */

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 576px) {
    .input-group .input-group-append {
        right: 10px; /* Adjust as needed */
    }
}
  
/* animation */
.animation{
    display: flex;
}
/* body R */
@keyframes ripple1 {
    0% {
      box-shadow: 0 0 0 0 rgba(181, 82, 0, 0.1),
                  0 0 0 20px rgba(255, 0, 0, 0.1),
                  0 0 0 40px rgba(255, 98, 0, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 0, 0, 0.1),
                  0 0 0 40px rgba(255, 136, 0, 0.1),
                  0 0 0 60px rgba(255, 102, 0, 0);
    }
}
/* body Blue */
@keyframes ripple2 {
    0% {
      box-shadow: 0 0 0 0 rgba(13, 153, 161, 0.1),
                  0 0 0 20px rgba(013, 153, 161, 0.1),
                  0 0 0 40px rgba(13, 153, 161, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(13, 153, 161, 0.1),
                  0 0 0 40px rgba(13, 153, 161, 0.1),
                  0 0 0 60px rgba(13, 153, 161, 0);
    }
}
/* ripple head R */
@keyframes ripple3 {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.1),
                  0 0 0 20px rgba(255, 38, 0, 0.1),
                  0 0 0 60px rgba(255, 0, 0, 0.1),
                  0 0 0 100px rgba(255, 64, 0, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(255, 0, 0, 0.1),
                  0 0 0 60px rgba(255, 8, 0, 0.1),
                  0 0 0 100px rgba(255, 72, 0, 0.1),
                  0 0 0 140px rgba(255, 98, 0, 0);
    }
}
/* ripple head B */
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(85, 155, 164, 0.1),
                  0 0 0 20px rgba(90, 159, 168, 0.1),
                  0 0 0 60px rgba(97, 164, 173, 0.1),
                  0 0 0 100px rgba(97, 164, 173, 0.1);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(85, 155, 164, 0.1),
                  0 0 0 60px rgba(86, 158, 159, 0.1),
                  0 0 0 100px rgba(97, 164, 173, 0.1),
                  0 0 0 140px rgba(0, 162, 255, 0);
    }
}
/* red head */
.animation span:nth-child(2){
    display: block;
    left: 10%;
    width: 100px;
    height: 100px;
    position: relative;
    animation: ripple3 2s linear infinite;
    border-radius: 100px; 
}
/* red body */
.animation span:nth-child(1) {
    display: block;
    position: fixed;
    width: 100px;
    height: 650px;
    margin-top: 10em;
    left: 10%;
    /* position: relative; */
    animation: ripple1 2s linear infinite;
    border-radius: 100px; 
    /* radius = with/2 */
}
/* blue head*/
.animation span:nth-child(3){
    display: block;
    margin-left: 300px;
    margin-top: 3em;
    width: 100px;
    height: 100px;
    position: relative;
    animation: ripple 2s linear infinite;
    border-radius: 100px; 
}
/* blue body */
.animation span:nth-child(4){
    display: block;
    position: fixed;
    width: 100px;
    height: 650px;
    margin-top: 10em;
    margin-left: 400px;
    animation: ripple2 2s linear infinite;
    border-radius: 100px; 
}