/* Header */

.navbar {
    background-color: #070F2B !important;
}

.navbar .container,
.navbar .container-fluid {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    font-size: 2rem;
    margin-left: 1.5rem;
}

.navbar-brand span {
    display: inline-flex;
    align-items: center;
}

.navbar-brand span::before,
.navbar-brand span::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 50%;
    height: 2px;
    background-color: #535C91;
    transition: transform 0.3s ease;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center center;
    z-index: 10;
}

.navbar-brand span::before {
    top: 0;
}

.navbar-brand span::after {
    bottom: 0;
}

.navbar-brand:hover span::before,
.navbar-brand:hover span::after {
    transform: translateX(-50%) scaleX(1);
}

.rotated-icon {
    transform: rotate(45deg);
}

.navbar-brand .fa-wifi {
    font-size: 1.75rem;
    padding-left: 0.5rem;
}

.navbar .navbar-nav .nav-link {
    padding-right: 1.5em;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-right: auto;
}

.nav-link {
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link:before,
.nav-link:after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #535C91;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    display: block;
    margin: 5px 0;
}

.nav-link:hover:before,
.nav-link:hover:after {
    transform: scaleX(1);
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(45deg) translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(42deg) translateX(-0.5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: rotate(48deg) translateX(0.5px);
    }
}

.navbar-brand:hover .rotated-icon {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: rotate(45deg);
}

/* Login & Signup Box */

html,
body {
    height: 100%;
    margin: 0;
}

.container {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
    padding-top: 60px;
}

.row {
    width: 100%;
}

.card {
    margin: auto;
    border: 2px solid #070F2B;
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    top: -2px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: none;
}

.card-header button {
    border: none;
    /* Add this line to remove borders from buttons */
}

.card-header:before {
    display: none;
}

.card-body {
    padding: 1rem;
}

/* Toggle Buttons */

#login-toggle-btn {
    border-top-left-radius: 0.75rem;
    /* Adjust the value as needed */
}

#signup-toggle-btn {
    border-top-right-radius: 0.75rem;
    /* Adjust the value as needed */
}

.toggle-btn {
    flex-grow: 1;
    padding: 1rem;
    margin: 0;
    background-color: #535C91;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 1.75rem;
    position: relative !important;
    display: inline-block;
    text-align: center;
    width: auto;
    cursor: pointer;
    outline: none;
    transition: background-color .3s;
    overflow: hidden !important;
}

/* Clear existing styles */
.toggle-btn::before,
.toggle-btn::after,
.toggle-btn span::before,
.toggle-btn span::after {
    background: none;
    border: none;
    box-shadow: none;
}

.toggle-btn.active {
    background-color: #070F2B !important;
}

.toggle-btn:hover {
    background-color: #9290C3
}

.toggle-btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.toggle-btn span {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
}

/* Outer parentheses */
.toggle-btn::before,
.toggle-btn::after {
    content: '(';
    color: #535C91;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    background: none;
    border: none;
}

.toggle-btn::after {
    content: ')';
}

.toggle-btn.active::before,
.toggle-btn.active::after {
    font-size: 2rem;
    fond-weight: bold;
    opacity: 1;
    transform: translate(-150%, -50%) scale(1);
}

.toggle-btn.active::after {
    transform: translate(150%, -50%) scale(1);
}

/* Inner parentheses */
.toggle-btn span::before,
.toggle-btn span::after {
    content: '(';
    color: #535C91;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: absolute;
    top: 50%;
    border: none;
    background: none;
    transform: translateY(-50%) scale(0);
}

.toggle-btn span::after {
    content: ')';
}

.toggle-btn.active span::before,
.toggle-btn.active span::after {
    font-size: 2rem;
    fond-weight: bold;
    opacity: 1;
    transform: translate(-25%, -50%) scale(0.5);
}

.toggle-btn.active span::before {
    left: 10px;
    transform: translate(-100%, -50%) scale(0.5);
}

.toggle-btn.active span::after {
    right: 10px;
    transform: translate(100%, -50%) scale(0.5);
}

/* Form Control */

.card-body .form-group:first-child {
    padding-top: 1.5rem;
}

.card .form-group-lg {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .form-group-lg .form-control {
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.card .form-control {
    width: 90%;
    margin: 0 auto;
    font-size: 0.9em;
    border-radius: 1rem;
    background-color: #ffffff;
    padding-right: 2.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 0.9em;
    border-radius: 0.5rem;
    background-color: #ffffff;
    background-clip: padding-box;
    padding: 5rem;
    margin-bottom: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    line-height: normal;
    display: block;

}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.input-group-text {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 3;
}

input[type=email],
input[type=password],
input[type=text] {
    text-align: left;
}

/* Validation */

.form-control.is-valid::after,
.form-control.is-invalid::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Font Awesome 5 Free';
    display: block;
}

.form-control.is-valid::after {
    content: '\f00c';
    color: #28a745;
}

.form-control.is-invalid::after {
    content: '\f00d';
    color: #dc3545;
}

.valid-icon,
.invalid-icon {
    display: none;
}

.form-control.is-valid~.input-group-append .valid-icon {
    display: block;
    color: #28a745;
}

.form-control.is-invalid~.input-group-append .invalid-icon {
    display: block;
    color: #dc3545;
}

.form-control.is-valid {
    background-color: #d4edda;
    border-color: #28a745;
}

.form-control.is-invalid {
    background-color: #f8d7da;
    border-color: #dc3545;
}

/* Submit Button */

#loginButton.btn-block,
#signupButton.btn-block {
    padding: 1rem;
    color: white;
    border-radius: 1.5rem;
    cursor: pointer;
    border: none;
    background-color: #070F2B;
    font-size: 1.5rem;
}

#loginButton.btn-primary.active,
#signupButton.btn-primary.active,
#loginButton.btn-secondary.active,
#signupButton.btn-secondary.active {
    background-color: #070F2B;
    border-color: #070F2B;
}

#loginButton.btn-primary.active:hover,
#loginButton.btn-primary.active:focus,
#signupButton.btn-primary.active:hover,
#signupButton.btn-primary.active:focus,
#loginButton.btn-secondary.active:hover,
#loginButton.btn-secondary.active:focus,
#signupButton.btn-secondary.active:hover,
#signupButton.btn-secondary.active:focus {
    background-color: #535C91;
    border-color: #535C91;
}

/* Responsiveness */

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 576px) {
    .input-group .input-group-append {
        right: 10px;
    }
}

/* Animation */

.animation {
    display: flex;
}

/* body R */
@keyframes ripple1 {
    0% {
        box-shadow: 0 0 0 0 rgba(181, 82, 0, 0.1),
            0 0 0 20px rgba(255, 0, 0, 0.1),
            0 0 0 40px rgba(255, 98, 0, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 0, 0, 0.1),
            0 0 0 40px rgba(255, 136, 0, 0.1),
            0 0 0 60px rgba(255, 102, 0, 0);
    }
}

/* body B */
@keyframes ripple2 {
    0% {
        box-shadow: 0 0 0 0 rgba(21, 19, 106, 0.1),
            0 0 0 20px rgba(20, 15, 112, 0.1),
            0 0 0 40px rgba(15, 11, 202, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(15, 11, 202, 0.1),
            0 0 0 40px rgba(15, 11, 202, 0.1),
            0 0 0 60px rgba(15, 11, 202, 0);
    }
}

/* ripple head R */
@keyframes ripple3 {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.1),
            0 0 0 20px rgba(255, 38, 0, 0.1),
            0 0 0 60px rgba(255, 0, 0, 0.1),
            0 0 0 100px rgba(255, 64, 0, 0.1);

    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 0, 0, 0.1),
            0 0 0 60px rgba(255, 8, 0, 0.1),
            0 0 0 100px rgba(255, 72, 0, 0.1),
            0 0 0 140px rgba(255, 98, 0, 0);
    }
}

/* ripple head B */
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(36, 33, 253, 0.1),
            0 0 0 20px rgba(20, 15, 112, 0.1),
            0 0 0 60px rgba(15, 11, 202, 0.1),
            0 0 0 100px rgba(15, 11, 202, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(21, 19, 106, 0.1),
            0 0 0 60px rgba(21, 19, 106, 0.1),
            0 0 0 100px rgba(15, 11, 202, 0.1),
            0 0 0 140px rgba(15, 11, 202, 0);
    }
}

/* red head */
.animation span:nth-child(2) {
    display: block;
    left: 10%;
    width: 100px;
    height: 100px;
    position: relative;
    animation: ripple3 2s linear infinite;
    border-radius: 100px;
}

/* red body */
.animation span:nth-child(1) {
    display: block;
    position: fixed;
    width: 100px;
    height: 650px;
    margin-top: 10em;
    left: 10%;
    /* position: relative; */
    animation: ripple1 2s linear infinite;
    border-radius: 100px;
    /* radius = with/2 */
}

/* blue head*/
.animation span:nth-child(3) {
    display: block;
    margin-left: 300px;
    margin-top: 3em;
    width: 100px;
    height: 100px;
    position: relative;
    animation: ripple 2s linear infinite;
    border-radius: 100px;
}

/* blue body */
.animation span:nth-child(4) {
    display: block;
    position: fixed;
    width: 100px;
    height: 650px;
    margin-top: 10em;
    margin-left: 400px;
    animation: ripple2 2s linear infinite;
    border-radius: 100px;
}